.contact-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 600px;
  max-width: 100%;
  /* margin: auto; */
}

.form-group {
  margin-bottom: 15px;

}

.message {
  width: 600px;
}

label {
  margin-bottom: 5px;
}

input {
  width: 100%; 
}