.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  gap: 3%;}

  @media screen and (max-width: 500px) {
    .projects-container {
      display: block;
    }
    
  }
