.project-card {
    width: 400px; 
    margin: 10px;
    text-align: center;
  }
  
  .project-image {
    width: 100%; 
    height: auto; 
    max-height: 200px; 
    border: 10px solid #0F8B8D; 
    border-radius: 8px; 
  }
  