#root {
  margin-top: 200px;
  padding: 0;
  text-align: justify;
  background-color: #DAD2D8;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-weight:bolder;
  padding: 2rem 2rem 0 2rem;
  background-color: #EC9A29;
  width: 100%;
  border: 5px solid black;
  border-color: #EC9A29;
  position: fixed;
  top: 0;
  z-index: 1;

  /* border-bottom: 20px ;
  border-bottom-color: #A8201A; */
}

.name-and-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%
}

.main-container {
height: 100vh;
background-color: #DAD2D8;
padding: 1% 5% 0 5%;;
margin-top: 1rem;
}

.name{
  font-size: 4em;
}

.logo {
  height: 6em;
  padding: 0;
  margin-right: 2rem;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
